body{
    background-image: url(zebra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2, h3{
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    line-height: 1rem;
    font-family: sans-serif;
}


.borderImg{
    border:10px dashed red;
}

ul li{
    color: darkgreen;
    font-size: 20px;
}

ul > li{
    color: yellow;
}